<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="drop($event)"
    cdkDropListData="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef> Custo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <!-- LimitDate Column -->
    <ng-container matColumnDef="limitDate">
        <mat-header-cell *matHeaderCellDef> Data Limite </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{formatDate(element.limitDate)}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
</mat-table>