.fullWidth {
    width: 100%;
}

.form {
    margin-top: 1rem;
}

.success {
    background-color: green;
    color: white;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}